$main-color: #D81B60;

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $main-color;
  width: 100%;
  padding-top: 32px;
}

$radius : 84px;
$border : 8px;

.avatar {
  height: 2*$radius;
  width: 2*$radius;
  border-radius: $radius;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.4);
  margin-bottom: 16px;
  background-color: $main-color;

  img {
    height: 2 * ($radius - $border);
    width: 2 * ($radius - $border);
    border-radius: ($radius - $border);
  }
}

h1 {
  text-transform: none;
  color: $main-color;
}

.buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgba(0,0,0,0.1); 
  border-bottom: 1px solid rgba(0,0,0,0.1); 
  
  li {
    flex: 1;

    &:hover {
      background-color: rgba(252, 228, 236, 0.2);
    }

    .button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 96px;
      text-decoration: none;

      p {
        margin: 0;
        font-size: 0.8em;
        text-transform: uppercase;
        font-weight: 700;
        color: #BDBDBD;
        margin: 4px 0;
      }

      span {
        height: 2px;
        width: 25%;
        border-radius: 2px;
        background-color: $main-color;
        opacity: 0;
      }
    }
  }

  .button_active {
    @extend .button;
    p {
      color: $main-color;
    }
    span {
      opacity: 1;
    }
  }
}

