$color-black: #282828;
$color-light-gray: #F7FAF7;
$color-dark-gray: #848784;
$color-white: #FFFFFF;

$color-green: #15C46B;
$color-red: #FF6268;

$color-primary: #F0B13A;
$color-primary--light: #FFBB3D;
