.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.left {
  width: 20%;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.4);
  z-index: 1;
}

.main {
  flex-grow: 1;
  background-color: azure;
  
}